.container {
  border: 1px solid white;
  padding-left: 140px;

  .paragraph {
    font-size: 35px;
    color: #fff;
    max-width: 1200px;
    font-weight: 700;
    border: 1px solid white;
    display: flex;
    flex-wrap: wrap;
    line-height: 1;

    .word {
      margin-right: 12px;
      margin-top: 12px;
    }
  }
}
