@mixin flexCenter($flexDirection) {
  display: flex;
  flex-direction: $flexDirection;
  justify-content: center;
  align-items: center;
}

.header {
  position: fixed;
  top: 50px;
  right: 50px;

  .menu {
    position: relative;
    height: 550px;
    width: 380px;
    background-color: #ec4e39;
    border-radius: 25px;
  }
}
