.main {
    height: 100vh;
}

.body, .mask{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #afa18f;
    font-weight: 900;
    font-size: 80px;
    line-height: 81px;
    cursor: default;
}


.body p, .mask p {
    width: 90vw;
    text-align: center;
}

.body p span {
    color: #ec4e39;
}

.mask {
    position: absolute;
    mask-image: url(../../../public/mask.svg);
    background-color: #ec4e39;
    mask-repeat: no-repeat;
    mask-size: 40px;
    color: black;
}

/* .body {
    visibility: hidden;
    
} */