.main {
	height: 800px;
	width: 100vw;
	border: 2px dashed #2f2f2f;
	margin-top: 80px;
	position: relative;
}

.textContainer {
	height: 100%;
	width: 100%;
	position: absolute;
	pointer-events: none;
	display: grid;
	place-content: center;
	color: #2f2f2f;
	/* color: #fffddd; */
	font-size: 10rem;
	font-weight: 900;
}

.imageContainer {
	height: 100%;
	width: 100%;
	position: absolute;
	background-image: url("../../../public/backgroundImage.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	mask-image: url("../../../public/mask.svg");
	mask-repeat: no-repeat;
	mask-size: 0px;
	mask-position: center;
}